
<div class="jumbotron">
	<div class="container text-center">
		<h1 class="text-center">Pinteresting</h1>
		<% if user_signed_in? %>
			<p>Welcome <%= current_user.email %></p>
		<% else %>
			<p class="text-center">The most interesting app in the world</p>
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<% end %>
	</div>	
</div>
<br />
<hr />